<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
    <nav class="navbar">
        <div class="logo">My Blog</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/add">Add Post</a>
            <a href="/profile">Profile</a>
        </div>
    </nav>

    <div class="content">
        <!-- <div class="add">
            <a href="/add">New Post</a>
        </div> -->

        <div class="main">
            <ul>
            <div class="postx">
                <% posts.forEach((post, index)=> { %>
                    <li>
                        <h3>
                            @<%= post.username %>
                        </h3>
                        <h4>
                            <%= post.title %>
                        </h4>
                        <p>
                            <%= post.content %>
                        </p>
    
                        <a href="/edit/<%= index %>">Edit</a>
    
                        <form action="/delete/<%= index %>" method="POST">
                            <button>Delete</button>
                        </form>
                    </li>
                <% }) %>
            </div>
            </ul>
        </div>
    </div>
</body>

</html>